body.newwindow .main-header,body.newwindow .main-sidebar{
  display:none !important;
}
body.newwindow .content-wrapper{
  margin-left:0px !important;
  padding-top:0px !important;
}
.login-page, .register-page {
    background: #fff !important;
}
.login-box, .register-box{
	margin: 6% auto;
}
.login-box-body .icheckbox_square-blue{
	margin-right:10px;
}

.login-logo img{
	max-width:200px;
}

.box-body{
	overflow:hidden;
}
.immuno_hidden_check,.hide_not_immuno_check{
  display:none;
}
.action-links a{
	padding-right:10px;
}

.action-links img{
  width:25px;
  margin-right:15px;
}

.action-links .red_flag img{
  width:33px !important;
}

.box-title + .box-title{
	margin-left:10px;
}

.check-column i{
	font-size: 16px;
    color: #3c8dbc;
}

.legend span.yell {
    background: #f39c12;
}
.legend span.rd {
    background: #dd4b39;
}

.legend span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: -3px;
    vertical-align:middle;
}

#filtered-stock .col-md-2,#filtered-stock .switch-controls .col-md-5,.date-fileds .col-md-3{
	line-height: 32px;
}
.date-fileds .col-md-2{
	/* margin-top:20px; */
}

input[type="checkbox"]{
	width:18px;
	height:18px;
}
#filtered-stock input[type="checkbox"]{
	margin-left:5px;
	margin-top:0px;
}
#filtered-stock .checkbox{
	margin:8px 0 0; 
}
.switch-controls{
	margin-top:25px;
}
.switch-controls .row{
	margin-bottom:15px
}

.date-fileds .col-md-7{
	margin-top:25px;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 21px;
}
#filtered-stock .switch-controls{
	line-height:20px;
  margin-top:0px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    z-index:10;
}
.slider:after {
    position: absolute;
    content: "on";
    right: 7px;
    bottom: 1px;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    font-weight: bold;
    z-index:1;
}
input:checked + .slider:after{
	content: "off";
    left: 5px;
    color: #fff;
}
input:checked + .slider {
  background-color: #3c8dbc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3c8dbc;
}
input:disabled + .slider{
  background-color:rgba(204, 204, 204, 0.25);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.remaind td, .remaind a {
    color: #f39c12 !important;
}
.remaind td.qty-column,.overdue .expday-column{
	font-weight:900;
}

.overdue td, .overdue a {
    color: #dd4b39 !important;
}

table tr th.centered,table tr td.centered{
  text-align:center;
}
#advanced-filtered-patients,#invoice-reports{
  padding-bottom:25px;
}
#advanced-filtered-patients .btn-primary{
  padding:6px 25px;
  font-size:16px;
}

#back-to-search{
    float: right;
}
h3.results-title{
  padding-top:10px;
}

#filtered-patients .col-md-2,#filtered-patients .checkbox,#advanced-filtered-patients .col-md-2,#invoice-reports .col-md-2,#invoice-reports .checkbox{
  margin-top:5px;
}
#invoice-reports .paddingr-5{
  padding-right:5px;
}
#invoice-reports{
  padding-top:30px;
}
.from-to-block .col-md-2{
    padding-top:25px;
}

.tab-purple{
  background:#605ca8;
}
.tab-purple.active{
  background:#555299 !important;
}
.tab-purple i{
  color:#fff;
}
.nav-tabs-custom>.nav-tabs>li.active>a i, .nav-tabs-custom>.nav-tabs>li.active:hover>a i{
  color:#605ca8;
}
#nurse h2{
  margin-bottom:15px;
}
#nurse .box-header{
  padding-left:0px;padding-top:0px; padding-bottom:20px
}
.vaccine-popup button{
  width:130px;
  margin:20px auto 15px auto;
  text-transform:uppercase;
  height:35px;
}
.vaccine-popup .modal-body{
  background-color:#fff !important;
}
.vaccine-popup .modal-dialog{
  width: 350px;
  height: 320px;
  top: 15%;
}
.medList {
    border: 1px solid rgb(169, 169, 169);
    padding: 10px;
    display: inline-block;
    min-height:104px;
    min-width:100%;
    max-height: 104px;
    overflow-y: scroll;
    margin-bottom: -4px;
}
.medList input {
    border: 0px;
}
#shedule-form-create .form-group{
  margin-bottom:20px;
}

.file-group .col-md-4,.file-view{
  line-height:34px;
}
.file-group input[type="checkbox"]{
  margin: -1px 0 0;
}
.immuno-plan-button{
  margin-top:25px;
}
.immuno-plan-button button,.immuno-plan-button a.btn{
  margin:0 15px;
}
.immuno-file-delete,.patient-file-delete{
  display:none;
}
.delete-label{
  color:#dd4b39;
  cursor:pointer;
  padding-left:5px;
  font-weight:bold;
}
a i.fa-search{
  padding-right:3px;
}
input[type=file]{
  border:0px !important;
}
.tab-pane h2{
    margin-top: 10px;
    margin-bottom: 20px;
}
.procedure-table th{
  text-align:center;
}

#immunoteraphy a i.fa-plus{
  padding-right:3px;
}
#immunoteraphy .schedule {
  color:#fff;
}
.schedule-Alutek {
    background: #cc5014;
}

.schedule-ALEXOID {
    background: #234520;
}

.schedule-General {
    background: #645f99;
}

#immunoteraphy .block-ville{
  font-weight:600;
}

.block-ville-A {
    color: #000000;
}

.block-ville-B {
    color: #002fc9;
}
.block-ville-C {
    color: #603913;
}
.block-ville-D {
    color: #796f03;
}
.print-table-head .control-label{
  font-weight:700;
}
.print-table-head .row{
  padding:6px 0;
}
#immunoteraphy h2 a.btn-print{
    width: 130px;
    /* float: left; */
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 5px;
}
.box-title a.btn-print,.box-title .btn-back{
  display:inline-block;
  width:130px;
  margin-right:5px;
}

table .checkbox label, table .radio label{
  vertical-align:middle;
}

.box .box-group>.box{
  margin:15px 0;
}
#add-block{
  width:40px;
  margin-left:8px;
}

#summary-head-table .odd,#summary-list-table .odd{
  width:20%;
  font-weight:600;
}

#summary-head-table td{
  border:0px;
  padding:3px 8px;
}
.red{
  color:red;
}

#invoice-form .category-item{
 width:90%;
}
#invoice-form .switch{
  margin-bottom:0px;
}
.invoice-discount-fileds,.invoice-discount-type{
    width:45%;
  float:left;
  margin-right:5px;
}
.invoice_item_table th{
  text-align:center;
}
.invoice_item_table td,.invoice_item_table th{
  padding:2px;
  margin:1px;
}
#cash-method,#knet-method{
  width:100px;
  display:inline-block;
}
body .fc-time-grid-event{
  min-height:17px !important;
}
body .fc-time-grid-event:not(.fc-allow-mouse-resize){
  bottom:auto !important;
}

.select2-container--default .select2-selection--single{
  border-radius: 0;
    box-shadow: none;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d6de;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#appointments-search .input-group-addon,#advanced-filtered-patients .input-group-addon,#invoice-reports .input-group-addon{
  cursor:pointer;
}
#advanced-filtered-patients .input-group[class*=col-],#invoice-reports .input-group[class*=col-]{
  padding:0px 15px;
}
#view-profile-link{
    vertical-align: middle;
    padding-top:15px;
    font-size: 16px;
    font-weight:bold;
}
#view-profile-link i,.or-separate i{
  padding-left:3px;
}
.or-separate{
  padding:10px 0px;
  vertical-align: middle;
  font-size: 16px;
  display:block;
  cursor:pointer;
  font-weight:bold;
}
.or-separate i{
  padding-right:3px;
}
#doctor_calendar{
  margin:20px 10px 30px;
}

#doctor_calendar a{
  padding:8px 30px;
  border:2px solid;
  margin-right:15px;
  font-size:16px;
  color:#333;
  font-weight:bold;
  border-radius: 5px;
}
#doctor_calendar a:hover,#doctor_calendar a.active{
  color:#fff;
}
.cur-date{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    vertical-align: middle;
    display: inline-block;
    padding-top: 9px;
    margin-left: 10px;
}
.add-appointment-button{
  text-align:center;
}

#mini-calendar .table-condensed,#mini-calendar .datepicker-inline,#mini-calendar .datepicker-days{
  width:100%;
}
#mini-calendar tbody tr td.today  {
  background: #eee;
  background-image: none !important;
}
#mini-calendar tbody tr td.active{
  background-color: #3c8dbc;
  color:#fff;
  background-image: none !important;
}
.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.messages-menu>.dropdown-menu>li .menu>li>a, .navbar-nav>.tasks-menu>.dropdown-menu>li .menu>li>a{
  white-space: normal;
}
.navbar-nav>.notifications-menu>.dropdown-menu>li.header,.navbar-nav>.tasks-menu>.dropdown-menu>li.header{
  font-weight:bold;
}

#dashboard h3{
  font-weight:600;
  text-transform:uppercase;
}
.notifications-menu .blue,.tasks-menu .blue{
color:#3c8dbc;
}
#dashboard textarea{
  resize:none !important;
}
#dashboard #today-appoitnments-block h4{
  text-transform:uppercase;
}
#dashboard-appointments-list_wrapper td{
  vertical-align:middle;
}
.skip_nurse_rec img{
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray; /* IE 6-9 */
}
.select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #3c8dbc !important;
    border-radius:0 !important;
}
.select2-container--default.select2-container--focus, .select2-selection.select2-container--focus, .select2-container--default:focus, .select2-selection:focus, .select2-container--default:active, .select2-selection:active {
    outline: none;
}
.select2-container--default .select2-selection--multiple{
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3c8dbc;
    border-color: #367fa9;
    padding: 1px 10px;
    color: #fff;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 5px;
    color: rgba(255,255,255,0.7);
}
.finance-box-header{
  padding:7px 10px;
}
#finance-period-chooser{
  margin-bottom:0px;
}
#finance-period-chooser li,#finance-period-chooser,#doctors-period-chooser li,#doctors-period-chooser{
  display:inline-block;
}
#doctors-period-chooser{
  margin-bottom:0px;
}
#finance-period-chooser li,#doctors-period-chooser li{
  padding:2px 15px;
  border:1px solid #877E7E;
  border-radius:10px;
  margin-left:10px;
}
#finance-period-chooser li.active,#doctors-period-chooser li.active{
  background:#877E7E;
}
#finance-period-chooser li a,#doctors-period-chooser li a{
  color:#877E7E;
}
#finance-period-chooser li.active a,#doctors-period-chooser li.active a{
  color:#fff;
}
#finance-boxes{
  padding-bottom:40px;
  padding-top:20px;
}
#finance-boxes .total-box{
  background:#B9EFC9;
}
#finance-boxes .cash-box{
  background:#EBEFB5;
}
#finance-boxes .knet-box{
  background:#95C7F8;
}
#finance-boxes .pending-box{
  background:#EE5A5A;
}
#finance-boxes .pending-box h4{
  color:#fff;
  text-transform:uppercase;
}
#finance-boxes .color-palette{
  min-height:100px;
  margin-right:25px;
}
#finance-boxes strong{
  font-size:18px;
}
#finance-boxes .pending-box strong{
  color:#fff;
}
.advanced-status-info small span{
  border-radius: 10px;
  color: #fff;
  padding: 1px 8px;
  margin-right: 15px;
}
.task-modal-link h3{
  margin-bottom:5px !important;
}
.modal-content .task-description{
  margin-top:20px;
  display:block;
}

#viewTasksModal .icon{
  margin-right:5px;
}
#dashboard-appointments-list tbody tr{
  cursor:pointer;
}
#dashboard-appointments-list tbody tr.activetr,#dashboard-appointments-list tbody tr:hover{
  background-color: #CAD1E7;
}

#dashboard-appointments-list,#dashboard-appointments-list tr,#dashboard-appointments-list tbody td,#dashboard-appointments-list th{
  border:0px;
}
#reception-dashboard-calendar #calendar .fc-time-grid-container{
  max-height:350px !important;
}
.reception-calendar .fc-day-grid-event .fc-content{
      white-space: normal;
}
.dash-current-patient .text-yellow{
  color:#00a65a !important;
}
.dash-current-patient .text-blue{
  color:#605ca8;
}

.dash-current-patient .more-actions i{
    font-size: 16px;
}

.dash-current-patient .current-patient-info{
      font-size: 16px;
      text-transform:uppercase;
      font-weight:700;
}

.dash-current-patient .current-appointment-info{
  margin-top:0px;
}
.dash-current-patient .action-icons{
  margin-top:0px;
  text-align:right;
}
.dash-current-patient .action-icons img{
    width:30px;
    margin-right:30px;
}
.dash-current-patient .action-icons span{
    margin-right: 20px;
    font-size: 14px;
    text-transform: lowercase;
    background-color: #00a65a !important;
    padding: 1px 8px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
}
.action-icons img{
  width:26px;
  margin-right:16px;
}
.action-icons i.fa-check{
    font-size: 18px;
    color: #00a65a;
    vertical-align: middle;
}
.dash-current-patient{
  padding:20px;
}
.dash-current-patient{
  background:#CAD1E7;
}
.dash-current-patient hr{
  border:1px solid #d2d6de;
}
.open>.dropdown-records-menu{
      display: block;
    max-height: 300px;
    overflow-y: scroll;
}
ul.unstyled{
  padding:0px;
  list-style:none;
}
.patient-records-tabs .nav li{
  width:100%;
  border-top:0px;
}
.patient-records-tabs .nav li a{
  padding:10px 0;
  border:0px;
  background:#E9ECF5;
  border-radius:0px;
  margin:0px;
  text-align:center;
    border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}
.patient-records-tabs .nav-tabs{
  border:0px;
  padding:0px;
}
.patient-records-tabs .nav li.active a,.patient-records-tabs .nav li a:hover{
  border:0px;
  background:#fff;
}
.patient-records-tabs .tab-content{
  border-left: 1px solid #f4f4f4;
  background:#fff;
}
.patient-records-tabs .nav-tabs-custom{
  background:none;
  box-shadow:none;
}
.patient-records-tabs .nav-tabs-custom>.nav-tabs>li:first-of-type,.patient-records-tabs .nav-tabs-custom>.nav-tabs>li.active {
    border: none;
}
.patient-records-date a.text-blue,.patient-records-date a.text-red{
  margin-left: -22px;
  margin-right: 8px;
}
.time-color{
  color:black;
}
.patient-records-tabs h5{
  text-transform: uppercase;
    margin-top: 2px;
    font-size: 16px
}
.patient-records-tabs .select2-selection__rendered {
    color:#999 !important;
    padding-left:0px !important;
}
.patient-records-tabs h5 sup{
  display:none;
  color: #fff;
  margin-left: 10px;
  text-transform: lowercase;
  font-weight: bold;
  background-color: #dd4b39 !important;
  padding: 8px 5px;
  border-radius: 5px;
}
.action-message .alert-success{
  padding: 10px 40px 10px 10px;
}
.action-message .alert-success h5{
  font-size:14px;
}
.patient-records-tabs .tab-content>.tab-pane{
  min-height:450px;
}
.dash-current-patient{
  display:none;
}
.dash-current-patient.active{
  display:block;
}
#today-appoitnments-block .right-app{
  padding-left:0px;
  padding-bottom:30px;
}
#today-appoitnments-block .left-app{
  padding-right:0px;
}
.add-patient-record-form .checkbox .switch{
  margin-right:25px;
}
.add-patient-record-form .checkbox span{
  vertical-align: top;
  padding-right: 10px;
}


/*************Print************/
#printable-area h2{font-weight:600; font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;}
#printable-area h2.ar_title{font-weight:500; margin:10px 0 40px;}

/*#printable-area .main-info-table{ Включить если надо отступ на печати
  margin:80px 0px;
}*/ 
#printable-area .head-table {
  margin-bottom:50px;
}
#printable-area .items-table{
  margin-bottom:20px;
}
#printable-area .head-table tr td,#printable-area .items-table tr td{
  font-size:18px;
  font-style:italic;
  font-weight:400;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

#printable-area .items-table,#printable-area .items-table tr td{
  border:0px;
   font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}
#printable-area .items-table tr th{
  color:#54585a !important;
    font-size: 100%;
    font-style:italic;
    border:0px;
    font-weight:400;
}
#printable-area .items-table tr td{
  border-top: 1px solid #231F20 !important;
}
#printable-area .items-table tr td small{
  font-size:16px;
  display:block;
}
#printable-area tr,#printable-area tr td,#sikleave-head-table tr,#sikleave-head-table tr td{
  border:0px;
}
#printable-area .bordered tr td,#printable-area .bordered tr th{
      border: 1px solid #231F20 !important;
}
#sikleave-head-table tr td.odd{
  font-weight:bold;
  width:10%;
}

#sikleave-head-table tr td .form-group{
  margin:0px !important;
}

#printable-area tr td label{
  font-weight:bold;
  padding-right:5px;
  display:inline-block;
}
#printable-area tr td .form-group{
  display:inline-block;
}


@media print { /* Print style */
  .box-header,
  .content-header,
  .bottom-button-area,
  .desc-area,
  .referral-select-area {
    display:none !important;
  }
  .box{
    border:0px !important;
  }
  .referral-print-area{
    display:block !important;
  }
  body #summary-printable-area h2.summary-title,body #summary-printable-area h2.ar_title{
    display:block !important;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  }
  body #summary-printable-area h2.summary-title{
    font-weight:600; 
  }
  body #summary-printable-area h2.ar_title{
    margin-bottom:40px;
  }
  #summary-printable-area{
     margin:80px 0px;
  }
  #summary-head-table{
      margin-bottom:30px;
    }
  #summary-head-table .odd, #summary-list-table .odd {
    width: 20%;
    font-weight:normal;
    margin-top:20px;
  }
  #summary-head-table td{
    font-size:18px;
    font-style:italic;
    font-weight:400;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  }
  .diagnosis-items-list div.small{
    font-size:16px;
    display:block;
  }

  #summary-list-table >tbody > tr > td{
    display:block;
  }
  #summary-list-table >tbody > tr > td.odd{
    color:#54585a !important;
    font-size: 100%;
    font-style:italic;
    border:0px;
    font-weight:400;
    width:100% !important;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  }
  #summary-list-table tbody tr td{
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size:18px;
    font-style:italic;
  }
  #summary-list-table tbody tr td table{
    border:0px !important;
  }
  #summary-list-table tbody tr td table tr th{
    display:none;
  }
  #summary-list-table tbody tr td table tr td{
    border:0px !important;
    border-bottom: 1px solid #231F20 !important;
  }
  #summary-list-table tbody tr td table tr:last-child td{
    border-bottom: 0px !important;
  }
  
  .main-footer{
      display:none;
  }


}

@media(min-width:767px){
  .sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini{
    font-size:15px !important;
  }
}

@media(min-width:768px){
  .hidden-result-image{
    display:none;
  }
  #immunoteraphy .add-immuno-record-button{
    display: inline-block;
    width: 130px;
    float: left;
  }
  #immunoteraphy a+h2{
    padding-right:165px;
  }
  #custom-form-page tr.dynamic td:first-child{
    width:25%;
  }
  #custom-form-page select.category-item{
    width:90%;
  }
  .main-header .navbar .nav>li.main-header-list>a{
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding: 9px 20px;
  }

  li.add-appointment-button{
    margin-left:40px;
  }

  li.add-appointment-button + li.add-appointment-button{
    margin-left:0px;
  }
}
@media(min-width:1024px){

  .file-view a:hover + .hidden-result-image,.file-view a:hover + .hidden-result-image{
    display:block;
  }

  #results .hidden-result-image,
  #allergy .hidden-result-image,
  #exam-photo .hidden-result-image,
  #spirometry .hidden-result-image{
   position:absolute;
    left:45%;
    top:65%;
    z-index:999999;
  }
  #results-table .hidden-result-image{
    position: absolute;
    right: 200px;
    top: 300px;
    z-index: 999999;
  }
}
@media(max-width:1140px){
  .box-body .col-sm-12{
    overflow: scroll;
  }

}


@media(max-width:1500px){ 
  .patient-records-tabs .nav-tabs{
  width: 16.66666667% !important;
  }
  .patient-records-tabs .tab-content{
    width: 83.33333333% !important;
  }
}

@media(min-width:1400px){
  .nav-tabs-custom{
    padding-right:0px;
  }
  .patient-records-date{
    padding-left:50px;
  }
  .user-menu .dropdown-toggle{
    height:51px;
  }
}

.result-section-label{
  width:75px;
  display:inline-block;
}
option:disabled{
  color: #cdcdcd;
}

.fa-lightbulb-o{
  color:red;
  font-size:18px;
}
@media print {
  a{
    display:none !important;
  }
}
#dashboard-appointments-list .sorting:last-child{
  display:none;
}